{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["src/**/*.css", "src/**/*.sass", "src/**/*.scss"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
